In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

% matplotlib inline
sns.set()

In [2]:
df = pd.read_csv('homepage_actions.csv')
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

In [16]:
total = df.shape[0]

#control group size considering unique id's
control = df[df['group'] == 'control']
control_size = control['id'].nunique()

#Experiment group size considering unique id's
experiment = df[df['group'] == 'experiment']
experiment_size = experiment['id'].nunique()

# Number of Unique Users
u_size = df['id'].nunique()

print(' The Total Number of Actions: {}\n\n Experiment Group Size: {}\n\n Control Group Size: {}\n\n No of Unique Vistiors: {}'\
     .format(total, experiment_size, control_size, u_size))

 The Total Number of Actions: 8188

 Experiment Group Size: 2996

 Control Group Size: 3332

 No of Unique Vistiors: 6328

In [20]:
#Time Range of the dataset
df.iloc[[0, -1], 0]

0       2016-09-24 17:42:27.839496
8187    2017-01-18 10:24:08.629327
Name: timestamp, dtype: object

In [21]:
#Different types of actions
df['action'].unique()

array(['view', 'click'], dtype=object)