In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('admission_data.csv')
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

In [13]:
df.gender.value_counts().div(257+243)

female    0.514
male      0.486
Name: gender, dtype: float64

In [22]:
female_count = df.query('gender == "female"')['gender'].count()
male_count = df.query('gender == "male"')['gender'].count()
total_count = female_count + male_count
total_count

500

In [27]:
female_ad = df.query('gender == "female" and admitted == True')['admitted'].count() 
male_ad = df.query('gender == "male" and admitted == True')['admitted'].count()

female_ad_ratio = female_ad / female_count
male_ad_ratio = male_ad / male_count
print(male_ad_ratio, female_ad_ratio)

0.48559670781893005 0.28793774319066145

In [30]:
total_admitted = df.query('admitted == True')['admitted'].count()

ad_male = male_ad / total_admitted
ad_female = female_ad / total_admitted
print(ad_male, ad_female)

0.6145833333333334 0.3854166666666667

In [35]:
female_phy = df.query('gender == "female" and major == "Physics"')['major'].count()
male_phy = df.query('gender == "male" and major == "Physics"')['major'].count()

print(male_phy / male_count, female_phy / female_count)

0.9259259259259259 0.12062256809338522

In [43]:
female_phy_ad = df.query('gender == "female" and major == "Physics" and admitted == True')['admitted'].count()
male_phy_ad = df.query('gender == "male" and major == "Physics" and admitted == True')['admitted'].count() 

print(male_phy_ad / male_phy, female_phy_ad / female_phy)

0.5155555555555555 0.7419354838709677

In [63]:
female_chy = df.query('gender == "female" and major == "Chemistry"')['major'].count()
male_chy = df.query('gender == "male" and major == "Chemistry"')['major'].count() 

female_chy_ad = df.query('gender == "female" and major == "Chemistry" and admitted == True')['major'].count()
male_chy_ad = df.query('gender == "male" and major == "Chemistry" and admitted == True')['major'].count()

print(male_chy / male_count, female_chy / female_count)
print(male_chy_ad / male_chy, female_chy_ad / female_chy)

0.07407407407407407 0.8793774319066148
0.1111111111111111 0.22566371681415928

In [65]:
phy = df.query('major == "Physics"')['major'].count()
phy_ad = df.query('major == "Physics" and admitted == True')['admitted'].count()

chem = df.query('major == "Chemistry"')['major'].count()
chem_ad = df.query('major == "Chemistry" and admitted == True')['admitted'].count()

print(phy_ad / phy, chem_ad / chem)

0.54296875 0.21721311475409835