### Calculating Errors

There are two datasets available in this dataset that represent two of the examples you have seen in this lesson.  

One dataset is based on the parachute example, and the second is the judicial datast.  None of the dataset in these datasets pertains to real people.

Use the questions below to assist in answering the quiz questions at the bottom of this page.

In [2]:
import numpy as np
import pandas as pd

jud_data = pd.read_csv('judicial_dataset_predictions.csv')
par_data = pd.read_csv('parachute_dataset.csv')

In [3]:
jud_data.head()

   defendant_id    actual predicted
0         22574  innocent  innocent
1         35637  innocent  innocent
2         39919  innocent  innocent
3         29610    guilty    guilty
4         38273  innocent  innocent

In [6]:
print('The Shape of the Dataset is {}'.format(jud_data.shape))

The Shape of the Dataset is (7283, 3)

In [4]:
par_data.head()

   parachute_id actual predicted
0          3956  opens     opens
1          2147  opens     opens
2          2024  opens     opens
3          8325  opens     opens
4          6598  opens     opens

`1.` Above, you can see the actual and predicted columns for each of the datasets.  Using the **jud_data**, find the proportion of errors for the dataset, and furthermore, the percentage of errors of each type.  Use the results to answer the questions in quiz 1 below.

In [28]:
#Total percentage Error
wrong = jud_data.query('actual != predicted').shape[0]
total = jud_data.shape[0]

error_per = (wrong / total) 

#Type 1 Error when every one is assumped to be innonent 
type1 = jud_data.query('actual == "innocent" and predicted == "guilty"').shape[0]
type1_per = (type1 / total) 

#Type 2 Error
type2 = jud_data.query('actual == "guilty" and predicted == "innocent"').shape[0]
type2_per = (type2 / total) 

print('Different Types of Errors When everyone is assumed to be innocent\n')
print(' The Percentage of Errors: {} \n The Percentage of Type 1 Errors: {} \n The Percentage of Type 2 Errors: {}'\
      .format(round(error_per, 4), round(type1_per, 4), round(type2_per, 4)))

Different Types of Errors When everyone is assumed to be innocent

 The Percentage of Errors: 0.0422
 The Percentage of Type 1 Errors: 0.0015
 The Percentage of Type 2 Errors: 0.0406

In [3]:
#Type 1 Error if everyone is predicted to be guilty
#type1 = jud_data.query('actual == "guilty"').shape[0]
#type1_per = (type1 / total) 

#Type 2 Error
#type2 = jud_data.query('actual == "innocent"').shape[0]
#type2_per = (type2 / total) 

#print('Different Types of Errors When everyone is assumned to be guilty\n')
#print(' The Percentage of Type 1 Errors: {}\n The Percentage of Type 2 Errors: {}'\
#    .format(round(type1_per, 4), round(type2_per, 4)))

`2.` Above, you can see the actual and predicted columns for each of the datasets.  Using the **par_data**, find the proportion of errors for the dataset, and furthermore, the percentage of errors of each type.  Use the results to answer the questions in quiz 2 below.

In [31]:
print(par_data.head())

par_data.shape

   parachute_id actual predicted
0          3956  opens     opens
1          2147  opens     opens
2          2024  opens     opens
3          8325  opens     opens
4          6598  opens     opens

(5829, 3)

In [34]:
#Error Percentage
error = par_data.query('actual != predicted').shape[0]
total = par_data.shape[0]

error_per = (error / total)

#Type 1 Error
type1 = par_data.query('actual == "opens" and predicted =="fails"').shape[0]
type1_err = (type1 / total)

#Type 2 Error
type2 = par_data.query('predicted == "opens" and actual == "fails"').shape[0]
type2_err = (type2 / total)

print('Different Types of Errors\n')
print('The Total Percentage Error: {}\n The Percentage of Type 1 Error: {}\n The Percentage of Type 2 Errors: {}'\
     .format(error_per, type1_err, type2_err))

Different Types of Errors

The Total Percentage Error: 0.039972551037913875
 The Percentage of Type 1 Error: 0.03980099502487562
 The Percentage of Type 2 Errors: 0.00017155601303825698

In [1]:
#Type 1 Error When every parachute is predicted not to open
#type1 = par_data.query('predicted == "opens" and actual == "fails"').shape[0]
#type1_err = (type1 / total)

#Type 2 Errors
#type2 = par_data.query('predicted == "fails" and actual == "opens"').shape[0]
#type2_err = (type2 / total)

#print('The Errors When Every Parachute is assumed not to open\n')
#print(' Type 1 Error: {}\n Type 2 Error: {}'.format(type1_err, type2_err))